<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JetRacer Streaming</title>
</head>
<body>
    <img id="stream" src="" alt="Streaming Image">
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.3/socket.io.js"></script>
    <script>
        const socket = io.connect('http://localhost:5000');
        
        // 'stream' 채널을 구독하여 이미지를 받아 화면에 표시
        socket.on('stream', function(imageData) {
            document.getElementById('stream').src = 'data:image/jpeg;base64,' + imageData;
        });
    </script>
</body>
</html>
